name: Build
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base
        uses: super-linter/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_CHECKOV: false
          VALIDATE_KUBERNETES_KUBECONFORM: false
          VALIDATE_GO: false # disable the linting process of the individual Go files
          VALIDATE_YAML: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_GO_RELEASER: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: ".*(demo)/.*"

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build piggy-env
        id: docker_piggy-env
        uses: docker/build-push-action@v6
        with:
          context: ./piggy-env
          file: ./piggy-env/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ghcr.io/kongz/piggy-env:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Build piggy-webhooks
        id: docker_piggy-webhooks
        uses: docker/build-push-action@v5
        with:
          context: ./piggy-webhooks
          file: ./piggy-webhooks/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ghcr.io/kongz/piggy-webhooks:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache